<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: meta"></head>
<body>
<header th:replace="fragments :: header"></header>

<section class="container">
    <form method="post" action="/accountPage">
        <div class="form-horizontal">
            <label for="email">Email address:</label>
            <input name="email" type="email" class="form-control col-xs-4" id="email"/>
        </div>
        <div class="form-horizontal">
            <label for="pass">Password:</label>
            <input name="pass" type="password" class="form-control col-xs-4" id="pass"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

        <div th:if="${failure}" class="alert alert-danger">
            <strong>WRONG CREDENTIALS!!!</strong> Please, try again.
        </div>

        <div th:if="${empty_input}" class="alert alert-warning">
            <strong>Empty input</strong> is not allowed.
        </div>

    </form>
</section>
</body>
</html>